@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&display=swap");

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

main {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

header>nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
}

nav>li {
    margin: 2px;
}

.card {
    padding: 30px;
    height: 270px;
}

.card:nth-child(1) {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.card:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}

.card:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

.card_img {
    width: 40px
}

.card_title {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: hsl(0, 0%, 95%);
}

.card_info {
    font-size: 0.6rem;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 16px;
    width: 140px;
}

button {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.6rem;
    margin-top: 32px;
    border: none;
    padding: 10px;
    width: 90px;
    border-radius: 16px;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
    border: 1px solid hsla(0, 0%, 100%, 0.75);
    color: hsla(0, 0%, 100%, 0.75);
}

#btn_sedan {
    color: hsl(31, 77%, 52%);
}

#btn_suv {
    color: hsl(184, 100%, 22%);
}

#btn_luxury {
    color: hsl(179, 100%, 13%);
}

@media only screen and (min-width: 200px) and (max-width: 809px) {
    header>nav {
        margin-top: 10%;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        height: 80%;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 80%;
        gap: 2em;
    }

}

@media only screen and (min-width: 810px) and (max-width: 1440px) {
    main {
        display: flex;
        width: 85%;
    }
}